<h1 style="text-align: center;"><b>LIST OF ALL CARS</b></h1>
<table style="border-collapse: collapse; width: 100%;">
    <tr>
        <th style="background-color: #af6969; color: white; padding: 10px;">Name</th>
        <th style="background-color: #af6969; color: white; padding: 10px;">Brand</th>
        <th style="background-color: #af6969; color: white; padding: 10px;">Selling Quantity</th>
        <th style="background-color: #af6969; color: white; padding: 10px;">Rating</th>
        <th style="background-color: #af6969; color: white; padding: 10px;">Manufacturing Year</th>
    </tr>
    {% for car in cars %}
    <tr>
        <td style="border: 1px solid #ccc; padding: 10px;">{{ car.name }}</td>
        <td style="border: 1px solid #ccc; padding: 10px;">{{ car.brand }}</td>
        <td style="border: 1px solid #ccc; padding: 10px;">{{ car.selling_quantity }}</td>
        <td style="border: 1px solid #ccc; padding: 10px;">{{ car.rating }}</td>
        <td style="border: 1px solid #ccc; padding: 10px;">{{ car.manufacturing_year }}</td>
    </tr>
    {% endfor %}
</table>